@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  font-family: "Rubik", sans-serif;
  color: #54667a;
  font-weight: 300;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.table-container {
  margin: 0 0 25px 0;
}

.el-delete-btn {
  color: #F56C6C !important;
}

.el-table-empty {
  color: #b8b7b7;
}
.el-table-empty-icon {
  font-size: 100px;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #ecf9fc;
}

.el-table {
  color: #54667A;
}

.el-table td, .el-table th.is-leaf,.el-table--border, .el-table--group{
  border-color: #e8eef3; 
}
.el-table--border::after, .el-table--group::after, .el-table::before{
  background-color: #e8eef3;
}